<div class="toolbar" role="banner">
  <img width="40" src="../assets/resources/Images/P.png" />
  <div class="spacer"></div>

  <div class="box">
    Algorithms:
    <select (change)="changeAlgo($event)"> 
      <option *ngFor="let algo of Algos">{{algo}}</option>
    </select>
  </div>

  <div>
    <button (click)="Go()">Go</button>
  </div>
  <div class="spacer"></div>

  <div class="box" >
    Speed:
    <select (change)="changeSpeed($event)">
      <option *ngFor="let speed of Speeds">{{speed}}</option>
    </select>
  </div>
  <div class="spacer"></div>
  
  <a href="https://www.linkedin.com/in/walid-boukris-179771157/">
    <img width="40" src="../assets/resources/Images/linkedin.png" title="linkedin">
  </a>
</div>

<div class="message">
  <b>{{getMessage()}}</b>
</div>

<div class="line">
  <table cellpadding="0"  class="center" cellspacing="0">
    <tr  *ngFor="let l of service.table; let i = index">
      <th style="background:url('../assets/resources/Images/Sol.png')" *ngFor="let c of l; let j = index" (click)="click(i,j)">
        <img class="image" src="{{getImg(i,j)}}">
      </th>
    </tr>
  </table>
</div>


