<!-- Toolbar -->

<div class="toolbar" role="banner">
  <img
    width="40"
    type="image/png"
    alt="Angular Logo"
    src="../assets/resources/Images/P.png"
  />
  <span>Welcome</span>
  <div class="spacer"></div>

  <div class="box">
    Algorithms:
    <select>
      <option (click)="setAlgo('Dijkstra\'s Algorithm')">Dijkstra's Algorithm</option>
      <option (click)="setAlgo('A* Search')">A* Search</option>
      <option (click)="setAlgo('Breadth First Search')">Breadth First Search</option>
    </select>
  </div>

  <div>
    <button (click)="Go()">Go</button>
  </div>
  <div class="spacer"></div>

  <div class="box" >
    Speed:
    <select ng-model="selectedCar">
      <option (click)="setSpeed('Fast')">Fast</option>
      <option (click)="setSpeed('Average')">Average</option>
      <option (click)="setSpeed('Slow')">Slow</option>
    </select>
  </div>


  <div class="spacer"></div>
  <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://www.linkedin.com/in/walid-boukris-179771157/" title="LinkedIn">
    <img width="40" type="image/png" alt="Angular Logo" src="../assets/resources/Images/linkedin.png">
      </a>
</div>

<div class="message">
  you select as algo <b>{{service.algo}}</b> and the speed is <b>{{service.speed/1000}}s/move</b>!
</div>

<div class="line">
  <table cellpadding="0"  class="center" cellspacing="0">
    <tr  *ngFor="let l of service.table; let i = index">
      <th style="background:url('../assets/resources/Images/Sol.png')"  *ngFor="let c of l; let j = index" (click)="click(i,j)">
        <img class="image" src="{{getImg(i,j)}}">
      </th>
    </tr>
  </table>
</div>


